//- liveReload ----------------------------------------------------------------
!="{% unless site.isLive %}"
    script(src!="http://r.{{ site.ip }}.xip.io:35729/livereload.js?snipver=1")
!="{% endunless %}"


//- mathjax -------------------------------------------------------------------
!="{% if page.maths %}"
    script(
        type="text/javascript"
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
    )
!="{% endif %}"


!="{% if site.isLive %}"
    //- google analytics ------------------------------------------------------
    !="{% if site.google_analytics %}"
        script
            !="(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r; i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0]; a.async=1; a.src=g;m.parentNode.insertBefore(a,m);}) (window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', '{{ site.google_analytics }}', 'auto'); ga('send', 'pageview');"
    !="{% endif %}"

    //- disqus comments -------------------------------------------------------
    !="{% if site.disqus_shortname %}"
        !="{% if page.comments %}"
            div#disqus_thread
                script(type="text/javascript")
                    !="var disqus_shortname='{{ site.disqus_shortname }}'; (function(){var dsq=document.createElement('script'); dsq.type='text/javascript'; dsq.async=true; dsq.src='//'+disqus_shortname+'.disqus.com/embed.js'; (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);})();"
                noscript
                    p Please enable JavaScript to view the
                        a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
                    a.dsq-brlink(href="http://disqus.com") comments powered by
                        span.logo-disqus Disqus
        !="{% endif %}"
    !="{% endif %}"
!="{% endif %}"
